<!--%= form_for @bank,url: banks_path, html: { method: :post,} do |f| %>-->
  <%= form_for(bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :bank_name, class: 'control-label' %><br>
    <%= f.text_field :bank_name, class: 'form-control',required:"required" %>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
