<table class="table table-striped table-condensed detail-view">
  <tbody>
      <tr>
        <th>ID</th>
        <td><%= @model.company_id %></td>
      </tr>
      <tr>
        <th>Company Name</th>
        <td><%= @model.company_name %></td>
      </tr>
      <tr>
        <th>Company Address</th>
        <td><%= @model.company_address %></td>
      </tr>
      <tr>
        <th>Profile</th>
        <td><%= @model.company_profile %></td>
      </tr>
      <tr>
        <th>Tax Indentification</th>
        <td><%= @model.company_taxidentification %></td>
      </tr>
  </tbody>
</table>
